
<div>
    <form>
        <div>
            <h2>Cinee</h2>
            <label >Nombre</label>
            <input type="text" name="" required><br>

            <label>Cantidad de compradores</label>
            <input type="number" name="compradores" required><br>


            <label>Tarjeta cineco</label>
            <input type="radio" name="tarjeta" value="si" required> Si
            <input type="radio" name="tarjeta" value="no"> No<br>
        </div>

        <label>Cantidad de Boletos</label>
        <input type="number" name="boletos" required><br>

        <div>
            <label for="">Valor a pagar</label>
            <input type="text" >
        </div>

        <div>
            <h2>Acciones</h2>
            <button  type="submit">Procesar</button>
            <button  type="submit">Salir</button>
        </div>
    </form>

</div>